WorkSession1/CardProcessingService_document.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CardProcessingService_document/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CardProcessingService_document" targetNamespace="http://www.example.org/CardProcessingService_document/" xmlns:xsd1="http://www.example.org/CardProcessingSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/CardProcessingService_document/">
            <xsd:import schemaLocation="CardProcessingSchema.xsd" namespace="http://www.example.org/CardProcessingSchema"></xsd:import>
            <xsd:element name="CreditCardSale">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreditCardSaleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="DebitCardSale">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DebitCardSaleResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelCardSale">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CancelCardSaleResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckDebitStatusCardDebitStatus">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CheckCardDebitStatusResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CreditCardUserDetails">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CreditCardUserDetailsResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DebitCardAuth" type="xsd1:DebitCardSaleType"></xsd:element>
      <xsd:element name="CancelTransactionId"
      	type="xsd1:TransactionIdType">
      </xsd:element>
      <xsd:element name="CheckDebitTransactionId"
      	type="xsd1:TransactionIdType">
      </xsd:element>
      <xsd:element name="UserDetailsTransactionId"
      	type="xsd1:TransactionIdType">
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.example.org/CardProcessingSchema"
    		schemaLocation="CardProcessingSchema.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="CreditCardSaleRequest">
    <wsdl:part element="xsd1:CreditCardSale" name="CreditCardSaleAuth"/>
  </wsdl:message>
  <wsdl:message name="CreditCardSaleResponse">
    <wsdl:part element="xsd1:CreditCardSaleResp" name="CreditCardAuthResp"/>
  </wsdl:message>
  <wsdl:message name="DebitCardSaleRequest">
  	<wsdl:part name="DebitCardAuth" element="xsd1:DebitCardSale"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DebitCardSaleResponse">
  	<wsdl:part name="DebitCardAuthResp" element="xsd1:Response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelCardSaleRequest">
  	<wsdl:part name="CancelCreditCard" element="tns:CancelTransactionId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CancelCardSaleResponse">
  	<wsdl:part name="CancelCreditCardResp" element="xsd1:Response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckCardDebitStatusRequest">
  	<wsdl:part name="CheckDebitStatus" element="tns:CheckDebitTransactionId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckCardDebitStatusResponse">
  	<wsdl:part name="CheckDebitStatusResp" element="xsd1:Response"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreditCardUserDetailsRequest">
  	<wsdl:part name="UserDetails" element="tns:UserDetailsTransactionId"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreditCardUserDetailsResponse">
  	<wsdl:part name="UserDetailsResp" element="xsd1:CreditCard"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CardProcessingService_documentPortType">
    <wsdl:operation name="CreditCardSale">
      <wsdl:input message="tns:CreditCardSaleRequest"/>
      <wsdl:output message="tns:CreditCardSaleResponse"/>
    </wsdl:operation>
    <wsdl:operation name="DebitCardSale">
    	<wsdl:input message="tns:DebitCardSaleRequest"></wsdl:input>
    	<wsdl:output message="tns:DebitCardSaleResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCardSale">
    	<wsdl:input message="tns:CancelCardSaleRequest"></wsdl:input>
    	<wsdl:output message="tns:CancelCardSaleResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCardDebitStatus">
    	<wsdl:input message="tns:CheckCardDebitStatusRequest"></wsdl:input>
    	<wsdl:output message="tns:CheckCardDebitStatusResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreditCardUserDetails">
    	<wsdl:input message="tns:CreditCardUserDetailsRequest"></wsdl:input>
    	<wsdl:output message="tns:CreditCardUserDetailsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CardProcessingService_documentBinding" type="tns:CardProcessingService_documentPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreditCardSale">
      <soap:operation soapAction="http://www.example.org/CardProcessingService_document/CreditCardSale"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DebitCardSale">
      <soap:operation soapAction="http://www.example.org/CardProcessingService_document/DebitCardSale"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelCardSale">
      <soap:operation soapAction="http://www.example.org/CardProcessingService_document/CancelCardSale"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckCardDebitStatus">
      <soap:operation soapAction="http://www.example.org/CardProcessingService_document/CheckCardDebitStatus"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="CreditCardUserDetails">
      <soap:operation soapAction="http://www.example.org/CardProcessingService_document/CreditCardUserDetails"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardProcessingService_document">
    <wsdl:port binding="tns:CardProcessingService_documentBinding" name="CardProcessingService_documentPort">
      <soap:address location="http://www.example.org/CardProcessingService_document"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
