SOAProject/WebContent/WEB-INF/services/CostCalculationService/META-INF/RepairBillingService.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:common="http://www.example.org/CommonTypes" xmlns:tns="http://www.example.org/RepairBillingService" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/RepairBillingService">
    <import namespace="http://www.example.org/CommonTypes" schemaLocation="CommonTypes.xsd"/>
    <element name="Bill" type="tns:BillType"/>
    <complexType name="BillType">
        <sequence>
            <element name="ApprovalResponse" type="common:ApprovalResponseType"/>
            <element name="PickUpCost" type="common:CostType"/>
            <element minOccurs="0" name="RepairCost" type="common:CostType"/>
            <element name="DeliveryCost" type="common:CostType"/>
            <element name="CustomerInformation" type="common:CustomerType"/>
        </sequence>
    </complexType>
    <element name="DeliveryConfirmation" type="tns:DeliveryConfirmationType"/>
    <complexType name="DeliveryConfirmationType">
        <sequence>
            <element name="RepairID" type="common:RepairIDType"/>
            <element name="DeliveryConfirmation" type="common:ConfirmationType"/>
        </sequence>
    </complexType>
</schema>
