RepairTransportationService/resources/RepairTransportationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RepairTransportationService" targetNamespace="http://www.djbikeshop.org/RepairTransportationService/" xmlns:xsd1="http://www.djbikeshop.org/RepairTransportationService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.djbikeshop.org/RepairTransportationService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="http://www.djbikeshop.org/RepairTransportationService/" schemaLocation="RepairTransportationService.xsd">
  		</xsd:import></xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetTransportationDistanceRequest">
    <wsdl:part name="GetTransportationDistanceRequest" type="xsd1:TransportationDistanceRequestType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTransportationDistanceResponse">
    <wsdl:part name="GetTransportationDistanceResponse" type="xsd1:DistanceResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDeliveryTimeRequest">
    <wsdl:part name="UpdateDeliveryTimeRequest" type="xsd1:UpdatedDeliveryTimeType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTransportationTimeResponse">
    <wsdl:part name="GetTransportationTimeResponse" type="xsd1:TimeResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTransportationTimeRequest">
    <wsdl:part name="GetTransportationTimeRequest" type="xsd1:TransportationTimeRequestType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDeliveryTimeResponse">
    <wsdl:part name="UpdateDeliveryTimeResponse" type="xsd1:UpdatedDeliveryTimeResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RepairTransportationService">
    <wsdl:operation name="GetTransportationTime">
      <wsdl:input message="xsd1:GetTransportationTimeRequest">
    </wsdl:input>
      <wsdl:output message="xsd1:GetTransportationTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportationDistance">
      <wsdl:input message="xsd1:GetTransportationDistanceRequest">
    </wsdl:input>
      <wsdl:output message="xsd1:GetTransportationDistanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryTime">
      <wsdl:input message="xsd1:UpdateDeliveryTimeRequest">
    </wsdl:input>
      <wsdl:output message="xsd1:UpdateDeliveryTimeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepairTransportationServiceSOAP" type="xsd1:RepairTransportationService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetTransportationTime">
      <soap:operation soapAction="http://www.djbikeshop.org/RepairTransportationService/GetTransportationTime"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/RepairTransportationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/RepairTransportationService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportationDistance">
      <soap:operation soapAction="http://www.djbikeshop.org/RepairTransportationService/GetTransportationDistance"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/RepairTransportationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/RepairTransportationService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryTime">
      <soap:operation soapAction="http://www.djbikeshop.org/RepairTransportationService/UpdateDeliveryTime"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/RepairTransportationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/RepairTransportationService/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepairTransportationService">
    <wsdl:port name="RepairTransportationServiceSOAP" binding="xsd1:RepairTransportationServiceSOAP">
      <soap:address location="http://localhost:9080/RepairTransportationService/services/RepairTransportationService"/>
    </wsdl:port>
  </wsdl:service>
    <plnk:partnerLinkType name="RepairTransportationServiceLinkType">
		<plnk:role name="transporter" portType="tns:RepairTransportationService"/>
  </plnk:partnerLinkType>
</wsdl:definitions>
