CustomerService/WebContent/WEB-INF/services/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.djbikeshop.org/CustomerService/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="CustomerService" 
targetNamespace="http://www.djbikeshop.org/CustomerService/" 
xmlns:xsd1="http://www.djbikeshop.org/CustomerService"
xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.djbikeshop.org/CustomerService/">
      <xsd:element name="NotifyPickUp">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetApprovalDeliveryAddress">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetApprovalDeliveryAddressResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.djbikeshop.org/CustomerService"
    		schemaLocation="CustomerService.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  
  <wsdl:message name="NotifyPickUpRequest">
    <wsdl:part element="xsd1:PickUpNotification" name="NotifyPickUp"/>
  </wsdl:message>
  <wsdl:message name="GetApprovalDeliveryAddressRequest">
  	<wsdl:part name="GetApprovalDeliveryAddressRequest" element="xsd1:ApprovalRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetApprovalDeliveryAddressResponse">
  	<wsdl:part name="GetApprovalDeliveryAddressResponse" element="xsd1:ApprovalResponse"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="CustomerService">
    <wsdl:operation name="NotifyPickUp">
      <wsdl:input message="tns:NotifyPickUpRequest"/>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalDeliveryAddress">
    	<wsdl:input message="tns:GetApprovalDeliveryAddressRequest"></wsdl:input>
    	<wsdl:output message="tns:GetApprovalDeliveryAddressResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- Added partner link -->
  <plnk:partnerLinkType name="CustomerServiceLinkType">
		<plnk:role name="customer" portType="tns:CustomerService" />
  </plnk:partnerLinkType>
  
  <wsdl:binding name="CustomerServiceSOAP" type="tns:CustomerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NotifyPickUp">
      <soap:operation soapAction="http://www.djbikeshop.org/CustomerService/NotifyPickUp"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetApprovalDeliveryAddress">
      <soap:operation soapAction="http://www.djbikeshop.org/CustomerService/GetApprovalDeliveryAddress"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- Service defines the address of Web service -->
  <wsdl:service name="CustomerService">
    <wsdl:port binding="tns:CustomerServiceSOAP" name="CustomerServiceSOAP">
      <soap:address location="http://localhost:9080/CustomerService/services/CustomerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
