SOAProject/WebContent/WEB-INF/services/RepairTransportationServicePort/WebServiceWSDL/RepairBillingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="RepairBillingService" 
targetNamespace="http://localhost:8080/SOAProject/services/RepairBillingService" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:tns="http://localhost:8080/SOAProject/services/RepairBillingService" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:xsd1="http://localhost:8080/SOAProject/services/RepairBillingService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8080/SOAProject/services/RepairBillingService/">
      <xsd:element name="CalculateTotalCost">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SendBill">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://localhost:8080/SOAProject/services/RepairBillingService"
    		schemaLocation="../WebServiceSchema/RepairBillingService.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="CalculateTotalCostRequest">
    <wsdl:part name="CalculateTotalCostRequest" element="xsd1:Bill"/>
  </wsdl:message>
  <wsdl:message name="SendBillRequest">
  	<wsdl:part name="SendBillRequest" element="xsd1:DeliveryConfirmation"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RepairBillingServicePortType">
    <wsdl:operation name="CalculateTotalCost">
      <wsdl:input message="tns:CalculateTotalCostRequest"/>
    </wsdl:operation>
    <wsdl:operation name="SendBill">
    	<wsdl:input message="tns:SendBillRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepairBillingServiceSOAPBinding" type="tns:RepairBillingServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CalculateTotalCost">
      <soap:operation soapAction="http://localhost:8080/SOAProject/services/RepairBillingService/CalculateTotalCost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendBill">
      <soap:operation soapAction="http://localhost:8080/SOAProject/services/RepairBillingService/SendBill"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepairBillingServicePort">
    <wsdl:port binding="tns:RepairBillingServiceSOAPBinding" name="RepairBillingServiceSOAP">
      <soap:address location="http://localhost:8080/SOAProject/services/RepairBillingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
