SOAProject/src/WebServiceSchema/RepairTransportationService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/RepairTransportationService" 
xmlns:tns="http://www.example.org/RepairTransportationService" 
elementFormDefault="qualified">


	<element name="Address" type="tns:AddressType"></element>

	<complexType name="AddressType">
		<sequence>
			<element name="Street" type="string"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="HouseNumber" type="int"
				maxOccurs="1" minOccurs="1">
			</element>
			<element name="City" type="string" maxOccurs="unbounded"
				minOccurs="1"></element>
			<element name="PostCode" type="string" maxOccurs="unbounded"
				minOccurs="1"></element>
		</sequence>
	</complexType>
	
	<element name="TransportationTime" type="tns:TransportationTimeType"></element>
	
	<simpleType name="TransportationTimeType">
		<restriction base="int"></restriction> 
	</simpleType>
	
	<element name="TransportationDistance" type="tns:TransportationDistanceType"></element>
	
	<simpleType name="TransportationDistanceType">
		<restriction base="decimal"></restriction>
	</simpleType>
	
</schema>