CostCalculationService/resources/CostCalculationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CostCalculationService" targetNamespace="http://www.djbikeshop.org/CostCalculationService/" xmlns:xsd1="http://www.djbikeshop.org/CostCalculationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.djbikeshop.org/CostCalculationService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="http://www.djbikeshop.org/CostCalculationService" schemaLocation="CostCalculationService.xsd">
  		</xsd:import></xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalculateRepairCostResponse">
    <wsdl:part name="CalculateRepairCostResponse" type="xsd1:RepairCostResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CalculateTransportCostRequest">
    <wsdl:part name="CalculateTransportCostRequest" type="xsd1:GetTransportationCostType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CalculateTransportCostResponse">
    <wsdl:part name="CalculateTransportCostResponse" type="xsd1:TransportationCostResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CalculateRepairCostRequest">
    <wsdl:part name="CalculateRepairCostRequest" type="xsd1:GetRepairCostType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CostCalculationService">
    <wsdl:operation name="CalculateTransportCost">
      <wsdl:input message="tns:CalculateTransportCostRequest">
    </wsdl:input>
      <wsdl:output message="tns:CalculateTransportCostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRepairCost">
      <wsdl:input message="tns:CalculateRepairCostRequest">
    </wsdl:input>
      <wsdl:output message="tns:CalculateRepairCostResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CostCalculationServiceSOAP" type="tns:CostCalculationService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CalculateTransportCost">
      <soap:operation soapAction="http://www.djbikeshop.org/CostCalculationService/CalculateTransportCost"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/CostCalculationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/CostCalculationService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateRepairCost">
      <soap:operation soapAction="http://www.djbikeshop.org/CostCalculationService/CalculateRepairCost"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/CostCalculationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.djbikeshop.org/CostCalculationService/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CostCalculationService">
    <wsdl:port name="CostCalculationServiceSOAP" binding="tns:CostCalculationServiceSOAP">
      <soap:address location="http://www.djbikeshop.org/CostCalculationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
