BikeRepairService/bpelContent/BikeRepairService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.djbikerepair.org/BikeRepairService/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="BikeRepairService" 
targetNamespace="http://www.djbikerepair.org/BikeRepairService/" 
xmlns:xsd1="http://www.djbikeshop.org/BikeRepairService/"
xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" 
xmlns:rts="http://www.djbikeshop.org/RepairTransportationService/" 
xmlns:bis="http://www.djbikeshop.org/BikeInspectionService/" 
xmlns:bcs="http://www.djbikeshop.org/BillingCallbackService/" 
xmlns:ccs="http://www.djbikeshop.org/CostCalculationService/" 
xmlns:cs="http://www.djbikeshop.org/CustomerService/" 
xmlns:rbs="http://www.djbikeshop.org/RepairBillingService/">
  
  	<!-- types -->
  
    <wsdl:import namespace="http://www.djbikeshop.org/RepairTransportationService/" location="RepairTransportationService.wsdl"></wsdl:import>
    <wsdl:import namespace="http://www.djbikeshop.org/BikeInspectionService/" location="BikeInspectionService.wsdl"></wsdl:import>
    <wsdl:import namespace="http://www.djbikeshop.org/BillingCallbackService/" location="BillingCallbackService.wsdl"></wsdl:import>
    <wsdl:import namespace="http://www.djbikeshop.org/CostCalculationService/" location="CostCalculationService.wsdl"></wsdl:import>
    <wsdl:import namespace="http://www.djbikeshop.org/CustomerService/" location="CustomerService.wsdl"></wsdl:import>
    <wsdl:import namespace="http://www.djbikeshop.org/RepairBillingService/" location="RepairBillingService.wsdl"></wsdl:import>
    
    <wsdl:types>
    <xsd:schema targetNamespace="http://www.djbikerepair.org/BikeRepairService/">
      <xsd:element name="RequestRepair">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RequestRepairResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.djbikeshop.org/BikeRepairService/"
    		schemaLocation="BikeRepairService.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  
  	<!-- message -->
  <wsdl:message name="RequestRepairRequest">
    <wsdl:part element="xsd1:RepairRequest" name="RequestRepair"/>
  </wsdl:message>
  <wsdl:message name="RequestRepairResponse">
    <wsdl:part element="xsd1:PickUp" name="NotifyPickUp"/>
  </wsdl:message>
  
  	<!-- portType -->
  <wsdl:portType name="BikeRepairService">
    <wsdl:operation name="RequestRepair">
      <wsdl:input message="tns:RequestRepairRequest"/>
      <wsdl:output message="tns:RequestRepairResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- Added partner link -->
  <plnk:partnerLinkType name="BikeRepairServiceLinkType">
		<plnk:role name="repairService" portType="tns:BikeRepairService" />
  </plnk:partnerLinkType>
  
  <plnk:partnerLinkType name="RepairTransportationServiceLinkType"> 
         <plnk:role name="transporter" portType="rts:RepairTransportationService"/>
    </plnk:partnerLinkType> 

	<plnk:partnerLinkType name="BikeInspectionServiceLinkType"> 
         <plnk:role name="inspector" portType="bis:BikeInspectionService"/>
    </plnk:partnerLinkType>
    
     <plnk:partnerLinkType name="BillingCallbackServiceLinkType"> 
         <plnk:role name="billingCallback" portType="bcs:BillingCallbackService"/>
    </plnk:partnerLinkType>
    
    <plnk:partnerLinkType name="CostCalculationServiceLinkType"> 
         <plnk:role name="calculator" portType="ccs:CostCalculationService"/>
    </plnk:partnerLinkType>
    
    <plnk:partnerLinkType name="CustomerServiceLinkType"> 
         <plnk:role name="customer" portType="cs:CustomerService"/>
    </plnk:partnerLinkType>
    
    <plnk:partnerLinkType name="RepairBillingServiceLinkType"> 
         <plnk:role name="billing" portType="rbs:RepairBillingService"/>
    </plnk:partnerLinkType>
  
  <vprop:property name="repairID" type="xsd:string"/>
  <vprop:propertyAlias propertyName="tns:repairID" messageType="bcs:ConfirmBillSentRequest" part="ConfirmBillSentRequest">
    	<vprop:query>RepairID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:repairID" messageType="bcs:ConfirmTotalCostRequest" part="ConfirmTotalCost">
    	<vprop:query>RepairID</vprop:query>
    </vprop:propertyAlias>
  
  	<!-- binding -->
  <wsdl:binding name="BikeRepairServiceSOAP" type="tns:BikeRepairService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RequestRepair">
      <soap:operation soapAction="http://www.djbikerepair.org/BikeRepairService/RequestRepair"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- Service defines the address of Web service -->
  <wsdl:service name="BikeRepairService">
    <wsdl:port binding="tns:BikeRepairServiceSOAP" name="BikeRepairServiceSOAP">
      <soap:address location="http://localhost:8080/ode/processes/BikeRepairService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
