BikeRepairService/bpelContent/BikeRepairService_0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.djbikerepair.org/BikeRepairService/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="BikeRepairService" 
targetNamespace="http://www.djbikerepair.org/BikeRepairService/" 
xmlns:xsd1="http://www.djbikeshop.org/BikeRepairService"
xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
  
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.djbikerepair.org/BikeRepairService/">
      <xsd:element name="RequestRepair">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RequestRepairResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.djbikeshop.org/BikeRepairService"
    		schemaLocation="BikeRepairService_0.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  
  <wsdl:message name="RequestRepairRequest">
    <wsdl:part element="xsd1:RepairRequest" name="RequestRepair"/>
  </wsdl:message>
  <wsdl:message name="RequestRepairResponse">
    <wsdl:part element="xsd1:RepairDelivery" name="RepairDelivery"/>
  </wsdl:message>
  
  <wsdl:portType name="BikeRepairService">
    <wsdl:operation name="RequestRepair">
      <wsdl:input message="tns:RequestRepairRequest"/>
      <wsdl:output message="tns:RequestRepairResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="BikeRepairServiceSOAP" type="tns:BikeRepairService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RequestRepair">
      <soap:operation soapAction="http://www.djbikerepair.org/BikeRepairService/RequestRepair"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="BikeRepairService">
    <wsdl:port binding="tns:BikeRepairServiceSOAP" name="BikeRepairServiceSOAP">
      <soap:address location="http://www.djbikeshop.org/BikeRepairService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
