BikeRepairService/bpelContent/BillingCallbackService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.djbikeshop.org/BillingCallbackService/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="BillingCallbackService" 
targetNamespace="http://www.djbikeshop.org/BillingCallbackService/" 
xmlns:xsd1="http://www.djbikeshop.org/BillingCallbackServic/"
xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.djbikeshop.org/BillingCallbackService/">
      <xsd:element name="ConfirmBillSent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmTotalCost">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.djbikeshop.org/BillingCallbackService/"
    		schemaLocation="BillingCallbackService.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  
  <wsdl:message name="ConfirmBillSentRequest">
    <wsdl:part element="tns:BillSentConfirmation" name="ConfirmBillSentRequest"/>
  </wsdl:message>
  <wsdl:message name="ConfirmTotalCostRequest">
  	<wsdl:part name="ConfirmTotalCost" element="tns:TotalCostConfirmation"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="BillingCallbackService">
    <wsdl:operation name="ConfirmBillSent">
      <wsdl:input message="tns:ConfirmBillSentRequest"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTotalCost">
    	<wsdl:input message="tns:ConfirmTotalCostRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- Added partner link -->
  <plnk:partnerLinkType name="BillingCallbackServiceLinkType">
		<plnk:role name="billingCallback" portType="tns:BillingCallbackService" />
  </plnk:partnerLinkType>
  
  <wsdl:binding name="BillingCallbackServiceSOAP" type="tns:BillingCallbackService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConfirmBillSent">
      <soap:operation soapAction="http://www.djbikeshop.org/BillingCallbackService/ConfirmBillSent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
     <wsdl:operation name="ConfirmTotalCost">
      <soap:operation soapAction="http://www.djbikeshop.org/BillingCallbackService/ConfirmTotalCost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <!-- Service defines the address of Web service -->
  <wsdl:service name="BillingCallbackService">
    <wsdl:port binding="tns:BillingCallbackServiceSOAP" name="BillingCallbackServiceSOAP">
      <soap:address location="http://localhost:9080/BillingCallbackService/services/BillingCallbackService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
