SOAProject/WebContent/WEB-INF/services/BikeInspectionService/META-INF/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/CommonTypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/CommonTypes">
    <element name="Customer" type="tns:CustomerType"/>
    <complexType name="CustomerType">
        <sequence>
            <element name="RepairID" type="tns:RepairIDType"/>
            <element name="CustomerName" type="tns:CustomerNameType"/>
            <element name="PhoneNumber" type="string"/>
            <element name="Email" type="tns:EmailType"/>
            <element name="BillingAddress" type="tns:AddressType"/>
        </sequence>
    </complexType>
    <complexType name="AddressType">
        <sequence>
            <element name="Street" type="string"/>
            <element name="HouseNumber" type="int"/>
            <element maxOccurs="unbounded" name="City" type="string"/>
            <element maxOccurs="unbounded" name="PostCode" type="string"/>
        </sequence>
    </complexType>
    <simpleType name="RepairIDType">
        <restriction base="string"/>
    </simpleType>
    <complexType name="CustomerNameType">
        <sequence>
            <element name="FirstName" type="string"/>
            <element name="LastName" type="string"/>
        </sequence>
    </complexType>
    <simpleType name="EmailType">
        <restriction base="string"/>
    </simpleType>
    <simpleType name="ConfirmationType">
        <restriction base="boolean"/>
    </simpleType>
    <element name="Cost" type="tns:CostType"/>
    <simpleType name="CostType">
        <restriction base="decimal"/>
    </simpleType>
    <element name="ApprovalResponse" type="tns:ApprovalResponseType"/>
    <simpleType name="ApprovalResponseType">
        <restriction base="string">
            <enumeration value="Approved"/>
            <enumeration value="Cancelled"/>
        </restriction>
    </simpleType>
    <element name="TransportationDistance" type="tns:TransportationDistanceType"/>
    <simpleType name="TransportationDistanceType">
        <restriction base="decimal"/>
    </simpleType>
    <simpleType name="RepairTimeType">
        <restriction base="int"/>
    </simpleType>
    <simpleType name="RepairsDesiredType">
        <restriction base="string"/>
    </simpleType>
    <complexType name="BikePartType">
        <sequence>
            <element name="Name" type="string"/>
            <element name="Price" type="tns:Price"/>
        </sequence>
    </complexType>
    <simpleType name="Price">
        <restriction base="decimal"/>
    </simpleType>
</schema>
