SOAProject/WebContent/WEB-INF/services/RepairBillingServicePort/META-INF/BillingCallbackService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BillingCallbackService" targetNamespace="http://localhost:8080/SOAProject/services/BillingCallbackService/" xmlns:xsd1="http://localhost:8080/SOAProject/services/BillingCallbackService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost:8080/SOAProject/services/BillingCallbackService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8080/SOAProject/services/BillingCallbackService/">
      <xsd:element name="ConfirmBillSent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmTotalCost">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"/>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://localhost:8080/SOAProject/services/BillingCallbackService" schemaLocation="BillingCallbackService.xsd">
    	</xsd:import></xsd:schema>
  </wsdl:types>
  <wsdl:message name="ConfirmBillSentRequest">
    <wsdl:part name="ConfirmBillSent" element="xsd1:BillSentConfirmation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ConfirmTotalCostRequest">
    <wsdl:part name="ConfirmTotalCost" element="xsd1:TotalCostConfirmation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BillingCallbackServicePortType">
    <wsdl:operation name="ConfirmBillSent">
      <wsdl:input message="tns:ConfirmBillSentRequest">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTotalCost">
      <wsdl:input message="tns:ConfirmTotalCostRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BillingCallbackServiceSOAPBinding" type="tns:BillingCallbackServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConfirmBillSent">
      <soap:operation soapAction="http://localhost:8080/SOAProject/services/BillingCallbackService/ConfirmBillSent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTotalCost">
      <soap:operation soapAction="http://localhost:8080/SOAProject/services/BillingCallbackService/ConfirmTotalCost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingCallbackService">
    <wsdl:port name="BillingCallbackServiceSOAP" binding="tns:BillingCallbackServiceSOAPBinding">
      <soap:address location="http://localhost:8080/SOAProject/services/BillingCallbackService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
