BillingCallbackService/WebContent/WEB-INF/services/BillingCallbackService/BillingCallbackService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.djbikeshop.org/BillingCallbackService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillingCallbackService" targetNamespace="http://www.djbikeshop.org/BillingCallbackService/" xmlns:xsd1="http://www.djbikeshop.org/BillingCallbackService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.djbikeshop.org/BillingCallbackService/">
      <xsd:element name="ConfirmBillSent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmBillSentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmTotalCost">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfirmTotalCostResponse">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import
    		namespace="http://www.djbikeshop.org/BillingCallbackService"
    		schemaLocation="BillingCallbackService.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  
  <wsdl:message name="ConfirmBillSentRequest">
    <wsdl:part element="xsd1:BillSentConfirmation" name="ConfirmBillSentRequest"/>
  </wsdl:message>
  <wsdl:message name="ConfirmTotalCostRequest">
  	<wsdl:part name="ConfirmTotalCost" element="xsd1:TotalCostConfirmation"></wsdl:part>
  </wsdl:message>
 
  
  <wsdl:portType name="BillingCallbackService">
    <wsdl:operation name="ConfirmBillSent">
      <wsdl:input message="tns:ConfirmBillSentRequest"/>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTotalCost">
    	<wsdl:input message="tns:ConfirmTotalCostRequest"></wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="BillingCallbackServiceSOAP" type="tns:BillingCallbackService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ConfirmBillSent">
      <soap:operation soapAction="http://www.djbikeshop.org/BillingCallbackService/ConfirmBillSent"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
     <wsdl:operation name="ConfirmTotalCost">
      <soap:operation soapAction="http://www.djbikeshop.org/BillingCallbackService/ConfirmTotalCost"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="BillingCallbackService">
    <wsdl:port binding="tns:BillingCallbackServiceSOAP" name="BillingCallbackServiceSOAP">
      <soap:address location="http://www.djbikeshop.org/BillingCallbackService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
