SOAProject/WebContent/WEB-INF/services/RepairBillingService/META-INF/RepairBillingService.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://localhost:8080/SOAProject/services/RepairBillingService" xmlns:Q1="http://localhost:8080/SOAProject/services/CommonTypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost:8080/SOAProject/services/RepairBillingService">
    <xsd:import namespace="http://localhost:8080/SOAProject/services/CommonTypes" schemaLocation="CommonTypes.xsd"/>
    <xsd:element name="Bill" type="BillType"/>
    <xsd:complexType name="BillType">
        <xsd:sequence>
            <xsd:element name="ApprovalResponse" type="Q1:ApprovalResponseType"/>
            <xsd:element name="PickUpCost" type="Q1:CostType"/>
            <xsd:element minOccurs="0" name="RepairCost" type="Q1:CostType"/>
            <xsd:element name="DeliveryCost" type="Q1:CostType"/>
            <xsd:element name="CustomerInformation" type="Q1:CustomerType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeliveryConfirmation" type="DeliveryConfirmationType"/>
    <xsd:complexType name="DeliveryConfirmationType">
        <xsd:sequence>
            <xsd:element name="RepairID" type="Q1:RepairIDType"/>
            <xsd:element name="DeliveryConfirmation" type="Q1:ConfirmationType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
