approvalExample/WebContent/WEB-INF/services/ApprovalService/META-INF/loan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://loans.org/schema" xmlns:tns="http://loans.org/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xs:element name="CreditInformationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstName" type="xsd:string"/>
				<xs:element name="name" type="xsd:string"/>
				<xs:element name="amount" type="xsd:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="ApprovalResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="accept" type="xsd:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RiskAssessmentResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="accept" type="xsd:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="errorMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="errorCode" type="xsd:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
  </wsdl:types>
</wsdl:definitions>
