SOAProject/WebContent/WEB-INF/services/RepairTransportationService/META-INF/BillingCallbackService.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:common="http://localhost:8080/SOAProject/services/CommonTypes" xmlns:tns="http://localhost:8080/SOAProject/services/BillingCallbackService" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost:8080/SOAProject/services/BillingCallbackService">
    <import namespace="http://localhost:8080/SOAProject/services/CommonTypes" schemaLocation="CommonTypes.xsd"/>
    <element name="BillSentConfirmation" type="tns:BillSentConfirmationType"/>
    <complexType name="CostConfirmationType">
        <sequence>
            <element name="RepairID" type="common:RepairIDType"/>
            <element name="Confirmation" type="common:ConfirmationType"/>
        </sequence>
    </complexType>
    <complexType name="BillSentConfirmationType">
        <sequence>
            <element name="RepairID" type="common:RepairIDType"/>
            <element name="Confirmation" type="common:ConfirmationType"/>
        </sequence>
    </complexType>
    <element name="TotalCostConfirmation" type="tns:CostConfirmationType"/>
</schema>
