SOAProject/WebContent/WEB-INF/services/RepairTransportationService/META-INF/RepairTransportationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RepairTransportationService" targetNamespace="http://localhost:8080/SOAProject/services//RepairTransportationService" xmlns:xsd1="http://localhost:8080/SOAProject/services/RepairTransportationService" xmlns:xsd2="http://localhost:8080/SOAProject/services/CommonTypes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://localhost:8080/SOAProject/services//RepairTransportationService" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  		<xsd:import namespace="http://localhost:8080/SOAProject/services/RepairTransportationService" schemaLocation="RepairTransportationService.xsd">
  		</xsd:import>
  		<xsd:import namespace="http://localhost:8080/SOAProject/services/CommonTypes" schemaLocation="CommonTypes.xsd">
  		</xsd:import></xsd:schema>
  </wsdl:types>
  <wsdl:message name="UpdateDeliveryTimeRequest">
    <wsdl:part name="UpdateDeliveryTimeRequest" type="xsd1:UpdatedDeliveryTimeType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTransportationDistanceRequest">
    <wsdl:part name="GetTransportationDistanceRequest" type="xsd1:TransportationDistanceRequestType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTransportationDistanceResponse">
    <wsdl:part name="GetTransportationDistanceResponse" type="xsd1:DistanceResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTransportationTimeRequest">
    <wsdl:part name="GetTransportationTimeRequest" type="xsd1:TransportationTimeRequestType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDeliveryTimeResponse">
    <wsdl:part name="UpdateDeliveryTimeResponse" type="xsd1:UpdatedDeliveryTimeResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetTransportationTimeResponse">
    <wsdl:part name="GetTransportationTimeResponse" type="xsd1:TimeResponseType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RepairTransportationService">
    <wsdl:operation name="GetTransportationTime">
      <wsdl:input message="tns:GetTransportationTimeRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetTransportationTimeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportationDistance">
      <wsdl:input message="tns:GetTransportationDistanceRequest">
    </wsdl:input>
      <wsdl:output message="tns:GetTransportationDistanceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryTime">
      <wsdl:input message="tns:UpdateDeliveryTimeRequest">
    </wsdl:input>
      <wsdl:output message="tns:UpdateDeliveryTimeResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepairTransportationServiceSOAPBinding" type="tns:RepairTransportationService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetTransportationTime">
      <soap:operation soapAction="http://localhost:8080/SOAProject/services/RepairTransportationService/GetTransportationTime"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://localhost:8080/SOAProject/services/RepairTransportationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://localhost:8080/SOAProject/services/RepairTransportationService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransportationDistance">
      <soap:operation soapAction="http://localhost:8080/SOAProject/services/RepairTransportationService/GetTransportationDistance"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://localhost:8080/SOAProject/services/RepairTransportationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://localhost:8080/SOAProject/services/RepairTransportationService/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeliveryTime">
      <soap:operation soapAction="http://localhost:8080/SOAProject/services/RepairTransportationService/UpdateDeliveryTime"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://localhost:8080/SOAProject/services/RepairTransportationService/"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://localhost:8080/SOAProject/services/RepairTransportationService/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepairTransportationService">
    <wsdl:port name="RepairTransportationServiceSOAP" binding="tns:RepairTransportationServiceSOAPBinding">
      <soap:address location="http://localhost:8080/SOAProject/services/RepairTransportationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
